body{
    background-color: papayawhip;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.header {
    margin-top: 100px;
    background-color: palegreen;
    padding: 100px;
    display: inline-block;
    
}