:root{
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, .8);
}

html{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--dark);
}


body{
    margin: 0;
    background-color: #ccc;
    line-height: 1.4;
}

.btn{
    background-color: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

img{
    max-width: 100%;
}

.wrapper{
    display: grid;
    grid-gap: 20px;
}

.menubar{
    background: #919191;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 2px 4px black;
}


.navbar ul{
    display: flex;
    justify-content: space-between;
    padding: 0;
    list-style: none;
}

.navbar a{
    background: var(--primary);
    display: inline-block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: center;
    color: var(--dark);
    text-transform: lowercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.navbar a:hover{
    background: var(--dark);
    color: var(--light);
}

.recent-feed{
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'a b c'
    'd e f';
    border-bottom: thin solid black;
}

.a{
    grid-area: a;
}
.b{
    grid-area: b;
}
.c{
    grid-area: c;
}
.d{
    grid-area: d;
}
.e{
    grid-area: e;
}
.f{
    grid-area: f;
}

