:root{
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, .8);
}

html{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--dark);
}


body{
    margin: 0;
    background-color: #FAFAFA;
    line-height: 1.4;
}

.btn{
    background-color: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

img{
    max-width: 100%;
}

.wrapper{
    display: grid;
    grid-gap: 20px;
}

.menubar{
    background: var(--light);
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0 1px 4px black;
    overflow: hidden;
    position:sticky;
    top: 0;
}

.menuicon{
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.logo{
    display:inline-block;
    margin: auto;
}

.logo img{
    display: block;
  max-height: 100px;
  width: auto;
  height: auto;
}


.navbar ul{
    display: flex;
    justify-content: flex-end;
    margin:0;
    padding: 0;
    list-style: none;
    margin-right: 10px;
   margin-bottom: 25px;
}

.navbar a{
    background: #fff;
    display: flex;
    height: 100%;
    text-decoration: none;
    padding: 0.8rem;
    color: var(--dark);
    text-transform: lowercase;
    font-size: 1.1rem;
    
    justify-items: center;
    align-items: center;
}

.navbar a:hover{
    background: var(--dark);
    color: var(--light);
}

.recent-feed{
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
    'a b c'
    'd e f';
    border-bottom: thin solid black;
}

.a{
    grid-area: a;
}
.b{
    grid-area: b;
}
.c{
    grid-area: c;
}
.d{
    grid-area: d;
}
.e{
    grid-area: e;
}
.f{
    grid-area: f;
}

