:root{
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, .8);
}

html{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: var(--dark);
}


body{
    background-color: #ccc;
    margin:30px 50px;
    line-height: 1.4;
}

.btn{
    background-color: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

img{
    max-width: 100%;
}

.wrapper{
    display: grid;
    grid-gap: 20px;
}
